@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,400&display=swap');

/* RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
} 
img{
  display: block;
  max-width: 100%;
  height: auto;
}

/* || UTILITY CLASSES */
.nowrap{
  white-space: nowrap;
}
/* || GENERAL STYLE */
html{
  scroll-behavior: smooth;
}
body{
  font:1.5rem 'Nunito Sans', sans-serif;
  min-height: 100vh;
  background-color: #475569;
  background-image: radial-gradient(whitesmoke, steelblue);
  display: flex;
  flex-direction: column;
}

header, footer{
  font-weight: bolder;
  position: sticky;
  background-color: #1E293B;
  color: whitesmoke;
  text-align: center;
}
header{
  top:0;
}
footer{
  bottom: 0;;
}
nav{
  background-color: #fff;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
  display: flex;
  justify-content: space-evenly;
}
nav a, nav a:visited{
  color: #000;
}
nav a:hover, nav a:focus{
  color: hsla(0, 0%, 20%, 0.6);
}
main{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem;

 
}

/* || PROFILE CARD*/
.card{
  scroll-margin-top: 8rem;
  width: min(100%, 350px);
  background-color: #cbd5e1;
  border: 2px solid #000;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card figure{
  display: flex;
  flex-flow: column nowrap;
}
.card img{
  border: 5px double #000;
  border-radius: 50%;
}
.card figcaption{
  font-weight: bolder;
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
}
/* || SMALL Screen */

@media screen and (min-width: 576px) {
  main{
    justify-content: center;
   padding: 1rem;
  }
  .card{
    width: min(100%, 400px);
  }
  .card:last-child{
    order: -1;
  }

  
}

/* || Medium screen */
@media screen and (min-width:768px) {
  main{
    background-image: linear-gradient(whitesmoke, #475569);

  }
  nav{
    display: none;
  }
  .card{
    width:  min(100%, 325px);
  }
  .card figure{
    flex-flow: column-reverse;
  }
  .card figcaption{
    margin: 0.1rem 0;
  }
  p{
    margin-top: 1rem;
  }

  
}
/* || Large Screens */
@media screen and (min-width:992px) {
  main{
    background-image: radial-gradient(whitesmoke, steelblue);
    display: flex;
    flex-flow: row wrap;
  }
  .card{
    width: min(100%, 400px);
  }
  .card:nth-child(2){
    order: -1;
  }
  
}
/* || XL Screens */
@media screen and (min-width:1200px) {
  nav{
    display: flex;
    justify-content: space-evenly;
  }
  .card{
    width: min(calc(33% -1rem), 500px);
  }
  main{
    background-image: radial-gradient(whitesmoke, rgb(196, 185, 191));
    display: flex;
    flex-flow: row wrap;
  }
  .card:nth-child(1){
    order: -1;
  }
  
}
/* || 2XL SCREENS */
@media screen and (min-width:2695px) {
  main{
    background-image: radial-gradient(whitesmoke, steelblue);
    display: flex;
    flex-flow: column wrap;
  }
  .card{
    width: min(100%, 500px);
  }
  .card:nth-child(2){
    order: -1;
  }
  

  
}
/* || MOBILE DEVICES LANDSCAPE */
@media screen AND (max-height:425px) and (min-aspect-ratio:7/4){
  h1{
    font-size: 1.5rem;
  }
  nav{
    display: none;
  }
  main{
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: stretch;
    background-image: radial-gradient(whitesmoke, pink);
  }
  .card{
    width: min(calc(33%-0.25rem), 200px);
  }
  .card figcaption, .card p{
    font-size: 1.25rem;
  }
  
}