@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap');

/* RESET */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
} 

/* || GENERAL STYLE */
body{
  font: 1.5rem 'Roboto', sans-serif;
  min-height: 100vh;

  background-color: #475569;
  background-image: radial-gradient(whitesmoke, steelblue);
  display: flex;
  flex-direction: column;
}

header, nav, main, footer{
  display: grid;
  place-content: center;
  position: sticky;
  color: whitesmoke;
  grid-template-columns: 100%;
  text-align: center;
}

header, footer{
  background-color: #1E293B;
}
header{
  top:0;
}
footer{
  bottom: 0;;
}
nav{
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-bottom: 2px solid #000;
}
main{
  flex-grow: 1;
  color: black;
}

/* || SMALL Screen */

@media screen and (min-width: 576px) {
  body{
    background-color: green;
    background-image: radial-gradient(whitesmoke, green)
  }
  nav{
    display: none;
  }
  
}

/* || Medium screen */
@media screen and (min-width:780px) {
  body{
    background-color: green;
    background-image: radial-gradient(whitesmoke, gold)
  }

  
}