*{
  padding: 0;
  margin: 0;
  box-sizing: border-box
} 
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,900&display=swap');
/* typograpy is the way a text is arranged and presented*/

body{
  font-size: 2rem;
  background-color: antiquewhite;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;
  padding: 20px;
}
.container{
  max-width: 800px;
  min-height: 400px;
  margin-inline: auto;
  border: 1px solid #000;
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
  align-content: space-evenly;

  
}
.box{
  /* min-width: 100px; */
  height: 100px;
  background-color: #000;
  color: white;
  font-size: 2rem;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-shrink: 1;
  flex-basis: 300px;
}
.box:nth-child(2){
  flex-shrink: 2;
}